<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>王嘉豪的学习之路</title>
</head>
<body>
<h1>我的第一个标题</h1>
<span style="font-size: xxx-large; ">这是6号自提</span>
<hr>
<h2>第二个标题</h2>
<h3>three</h3>
<hr>
<h4>four</h4>
<h5>five</h5>
<h6>six</h6>
<p>我的<br>第一个<br>锻炼</p>
<b>粗体</b>
<strong>加重语气</strong>
<i>斜体</i>
<em>斜体</em>
<p>这是第二个锻炼</p>
<p>这是第三个锻炼</p> <!-- zhehsi yige shujie-->
<a href="https://www.baidu.com" target="_blank">百度的链接</a>
<img loading="lazy" src="lesson2/client1.jpg" width="258" height="200"/>
</body>
</html>